
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container text-center">

    <head>
        <body>
            in the name of God
            <br> 
            this page created by "me, myself and zappy" :)
            <br>
            <br> You know, that's gonna be FUN <br>
            <br> For appreciation, This is zappy's Great Website : <br>
            <br> <a href="https://zappycode.com" class="btn btn-success">Check his Great Website out</a> <br>
            <br><a href="{% url 'home' %}" class="btn btn-warning">home sweet home :)</a> <br>
        </body>
    </head>


</div>